body {
  background-color: lightblue;
}
#header {
  text-align: center;
}
.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1fr);
}
.grid > a {
  width: 70%;
  display: grid;
  place-items: center;
  margin: auto;
  justify-self: center;
  align-self: center;
}
img {
  width: 60% !important;
  border: solid 0.2em black;
}
a {
  border: solid 0.2em black;
}
#a {
  grid-row: 1;
}
#b {
  grid-row: 3;
}
#c {
  grid-row: 5;
}
.grid2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
}
.grid2 > img {
  margin: auto;
}
